<html>

<head>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">
  </div>
  <script>
    
	// functions from the Vue global constant
    const {
      defineComponent,  // https://v3.vuejs.org/api/global-api.html#definecomponent
      createApp,		// https://v3.vuejs.org/api/global-api.html#createapp
    } = Vue;

    // New constant method nameInput
    const nameInput = defineComponent({
      name: 'NameInput',
      props: {
        modelValue: String,
      },
      inheritAttrs: false,
      template: `
      <label>
        <input
          v-bind="{
            ...$attrs,
          }"
          :value="modelValue"
          type="text"
          @change="(event) => { $emit('update:modelValue', event.target.value) }"
        />
      {{modelValue}}</label>
      `
    });

    const appComponent = defineComponent({
      data: () => ({
        name1: '',
		name2: '',
      }),
      template: `
      <name-input
        v-model="name1"
        style="border:0; border-bottom: 2px solid red;"
        data-test="name-input1"
      /><br>
	  <name-input
        v-model="name2"
        style="border:0; border-bottom: 2px solid red;"
        data-test="name-input2"
      /><br>
	  {{name1}}<br>
	  {{name2}}`
    });

    const app = createApp(appComponent);

    app.component('NameInput', nameInput);
    app.mount('#app');
  </script>
</body>

</html>
